/*
  Large Font — 放大 File / Git面板字体
  文件夹 > 文件名，文件夹大写
*/

/* Git 面板 */
.git-tab-container .text-xs {
  font-size: 13px !important;
}

.git-tab__section-header {
  font-size: 12px !important;
}

/* 标题名 */
.git-tab__branch-name {
  font-size: 15px !important;
}

/* 文件树 */
.file-tree-item {
  font-size: 14px !important;
}

.file-tree-item--folder > .file-tree-item__name {
  /* text-transform: uppercase; */
  font-size: 14px !important;
}

.file-tab__header .text-sm {
  font-size: 15px !important; 
}

