/*
  Large Font — 放大 File / Git 面板字体
  文件夹 > 文件名，文件夹大写
*/

/* Git 面板 */
.git-tab__file-item {
  font-size: 13px !important;
}

.git-tab__section-header {
  font-size: 12px !important;
}

.git-tab__branch-name {
  font-size: 13px !important;
}

/* 文件树 */
.file-tree-item {
  font-size: 13px !important;
}

.file-tree-item--folder > .file-tree-item__name {
  /* text-transform: uppercase; */
  font-size: 13px !important;
}
